<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All blog posts</h3>
                    <p>From here you can manage all blog posts</p>

                    <button class="btn btn-info bg-theme" routerLink="/posts/new">Add new post</button>
                    <button class="btn btn-warning ml-2" routerLink="/">Back to dashboard</button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="car shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead> 
                            <tr>
                                <th>No</th>
                                <th>Post image</th>
                                <th>Title</th>
                                <!-- <th>Excerpt</th> -->
                                <th>Category</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let post of postArray; let i =index">
                                <td [width]="10">{{i+1}}</td>
                                <!-- <div>{{postArray[0].postImgName}}</div> -->
                                <td [width]="200"><img [src]="'http://localhost:3001/uploads/'+post.postImgName" class="img img-fluid "/></td>
                                <td [width]="200">{{post.title}}</td>
                                <!-- <td [width]="200">{{post.excerpt}}</td> -->
                                <td>{{post.category.category}}</td>
                                <td>{{post.createdAt | date :"d MMMM yyyy" }}</td>
                                <td >
                                    <button class="btn btn-sm btn-warning">Edit</button>
                                    <button class="btn btn-sm btn-danger ml-2">Delete</button>
                                    <button *ngIf="!post.isFeatured" class="btn btn-sm btn-success ml-2" (click)="onFeatured(post.id,true)">Mark Featured</button>
                                    <button *ngIf="post.isFeatured" class="btn btn-sm btn-info ml-2 " (click)="onFeatured(post.id,false)">Remove Featured</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

